<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/mystyle.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <table style="margin: 0 auto;">
            <form action="doInsert" method="POST">
                <tr>
                    <td colspan="2">Add Product</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td><input type="text" name="id" required></td>
                </tr>
                <tr>
                    <td>Product Name</td>
                    <td><input type="text" name="name" required></td>
                </tr>
                <tr>
                    <td>Product Image</td>
                    <td><input type="text" name="img"></td>
                </tr>
                <tr>
                    <td>Product Price</td>
                    <td><input type="text" name="price"></td>
                </tr>
                <tr>
                    <td>Product Note</td>
                    <td><input type="text" name="note"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Add Product"></td>

                </tr>
            </form>
        </table>
    </div>

</body>

</html>